html {
   height: 100%;
   overflow: hidden;
}

body {
  font: 400 1vw "Neuton";
  background: #090d00;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
}

@media (max-width: 476px){
  body {
    font: 400 3vw/1.5 "Neuton";
  }
}

.col-3 {
    max-width: 100%;
}

.img-fluid{
    max-width: initial;
}

p {
  text-transform: uppercase;
  letter-spacing: .5em;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  width: 40em;
  margin-top: revert;
  z-index: 99999;
}

p span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url("../data/images/fill_text.png") repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

#particles-js{
  position:fixed;
  width: 100%;
  height: 100%;
  background: #090d00;
}

